@charset "utf-8";


@media screen and (min-width: 768px){
  .subtitle{
    text-align: center;
    padding-top: 20px;
  }
  .ssubtitle{
    text-align: center;
    padding-bottom: 10px;
  }
  .backcolor{
    width: 500px;
    margin: auto;
    background-color: rgba(57, 103, 196, 0.5);
    border-radius: 5%;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .sikakutit{
    font-weight: bold;
  }
  .text{
    padding-top: 5px;
    letter-spacing: 1px;
  }
  .side{
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
  .side p{
    align-self: flex-end;
  }
#l1,#l2{
  margin-left: 130px;
}
#r1,#r2{
  margin-right: 130px;
}

  .subttl{
    border: solid 1px black;
    
    font-size: 30px;
    margin-left: 20px;
    padding: 3px;
  }
  .span{
    margin-top: 40px;
    margin-left: 50px;
  }
  .perChart{
    display: flex;
    margin-bottom: 60px;
  }
  .per{
    font-size: 10vw;
    align-self: center;
    margin-left: 130px;
    padding-right: 100px;
  }
  #Chart{
    width: 400px;
  }
  .ssubttl{
    border: solid 1px black;
    font-size: 30px;
    margin-left: 50px;
    padding: 3px;
  }


}


@media screen and (max-width: 767px) {

  .webtitle{
    background-color: rgba(57, 103, 196, 0.6);
    color: black;
  }

  .subtitle{
    text-align: center;
    padding-top: 20px;
  }
  .ssubtitle{
    text-align: center;
    padding-bottom: 10px;
  }
  .backcolor{
    width: 90%;
    margin: auto;
    background-color: rgba(57, 103, 196, 0.5);
    border-radius: 5%;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .sikakutit{
    font-weight: bold;
  }
  .text{
    padding-top: 5px;
    letter-spacing: 1px;
  }
  .side{
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
  .side p{
    align-self: flex-end;
  }


  .subttl{
    border: solid 1px black;
    
    font-size: 30px;
    margin-left: 20px;
    padding: 3px;
  }
  .span{
    margin-top: 40px;
    margin-left: 50px;
  }
  .perChart{
    display: flex;
    margin-bottom: 60px;
  }
  .per{
    font-size: 13vw;
    align-self: center;
    margin-left: 40px;
    padding-right: 40px;
  }
  #Chart{
    width: 140px;
  }
  .ssubttl{
    border: solid 1px black;
    font-size: 30px;
    margin-left: 50px;
    padding: 3px;
  }
}