@charset "utf-8";

/*ナビゲーションの設定*/

@media screen and (min-width: 767px) { 
*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }
  ol, ul {
  list-style: none;
  }
  a {
  text-decoration: none;
  color: inherit;
  }
  .cp_cont {
  height: 0vh;
  }
  .cp_offcm01 {
  position: absolute;
  top: 10px;
  right: 120px;
  display: inline-block;
  vertical-align: middle;
  }
  /* menu */
  .cp_offcm01 .cp_menu {
  position: fixed;
  top: 0;
  right: -100vw;
  width: 250px;
  height: 100%;
  cursor: pointer;
  -webkit-transition: 0.53s transform;
  transition: 0.53s transform;
  -webkit-transition-timing-function: cubic-bezier(.38,.52,.23,.99);
  transition-timing-function: cubic-bezier(.38,.52,.23,.99);
  background-color: #607D8B;
  opacity: 0.8;
  }
  .cp_offcm01 .cp_menu ul {
  margin: 0;
  padding: 0;
  }
  .cp_offcm01 .cp_menu li {
  list-style: none;
  }
  .cp_offcm01 .cp_menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  }
  .cp_offcm01 #cp_toggle01 {
  position: absolute;
  display: none;
  opacity: 0;
  }
  .cp_offcm01 #cp_toggle01:checked ~ .cp_menu {
  -webkit-transform: translateX(-100vw);
  transform: translateX(-100vw);
  }
  /* menu toggle */
 
  .cp_offcm01 #cp_toggle01:checked ~ label {
  -webkit-transform: translateX(-270px);
  transform: translateX(-270px);
  }
  .cp_offcm01 #cp_toggle01 ~ label, .cp_offcm01 #cp_toggle01 ~ label::before, .cp_offcm01 #cp_toggle01 ~ label::after{
    position: absolute;
  display: block;
  content: '≡';
  font-size: 250%;
  cursor: pointer;
  -webkit-transition: 0.5s transform;
  transition: 0.5s transform;
  -webkit-transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
  transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
  text-align: center;
  }

/*ナビゲーションの設定fin*/


#toptitle{
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: rgba(57, 103, 196, 0.6);
  color: black;
  border-top: #3967C4 solid 3px;
}

.footer{
  text-align: center;
  background-color: #3967C4;
  height: 100px;
}
.footer img{
  padding-top: 0.3rem;

}
.footer p{
  margin-left: 200px;
  color: #ffffff;
  font-size: 1.5vw;
}
}
/*モバイル版*/

@media screen and (max-width: 767px) { 

  header {
    padding:10px;
  }
  

/*ナビゲーションの設定*/

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }
  ol, ul {
  list-style: none;
  }
  a {
  text-decoration: none;
  color: inherit;
  }
  .cp_cont {
  height: 0vh;
  }
  .cp_offcm01 {
  position: absolute;
  top: 10px;
  right: 40px;
  display: inline-block;
  vertical-align: middle;
  }
  /* menu */
  .cp_offcm01 .cp_menu {
  position: fixed;
  top: 0;
  right: -100vw;
  width: 250px;
  height: 100%;
  cursor: pointer;
  -webkit-transition: 0.53s transform;
  transition: 0.53s transform;
  -webkit-transition-timing-function: cubic-bezier(.38,.52,.23,.99);
  transition-timing-function: cubic-bezier(.38,.52,.23,.99);
  background-color: #607D8B;
  opacity: 0.8;
  }
  .cp_offcm01 .cp_menu ul {
  margin: 0;
  padding: 0;
  }
  .cp_offcm01 .cp_menu li {
  list-style: none;
  }
  .cp_offcm01 .cp_menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  }
  .cp_offcm01 #cp_toggle01 {
  position: absolute;
  display: none;
  opacity: 0;
  }
  .cp_offcm01 #cp_toggle01:checked ~ .cp_menu {
  -webkit-transform: translateX(-100vw);
  transform: translateX(-100vw);
  }
  /* menu toggle */
 
  .cp_offcm01 #cp_toggle01:checked ~ label {
  -webkit-transform: translateX(-270px);
  transform: translateX(-270px);
  }
  .cp_offcm01 #cp_toggle01 ~ label, .cp_offcm01 #cp_toggle01 ~ label::before, .cp_offcm01 #cp_toggle01 ~ label::after{
    position: absolute;
  display: block;
  content: '≡';
  font-size: 150%;
  cursor: pointer;
  -webkit-transition: 0.5s transform;
  transition: 0.5s transform;
  -webkit-transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
  transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
  text-align: center;
  }

/*ナビゲーションの設定fin*/


#toptitle{
  font-size: 0.7rem;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
  color: black;
  border-top: #3967C4 solid 3px;
}
.footer{
  text-align: center;
  background-color: #3967C4;
  height: 80px;
}
.footer img{
  padding-top: 0.2rem;

}
.footer p{
  margin-left: 200px;
  color: #ffffff;
  font-size: 4vw;
}

}