@charset "utf-8";

@media screen and (max-width: 767px) {


  .webtitle{
    background-color: rgba(57, 103, 196, 0.6);
    color: black;
  }

  img{
    width: 50%; 
  }
  .toptext{
    text-align: center;
    font-size: 1.2rem;
  }
  .jugyou{
    display: flex;
    padding-top: 40px;
  }
  .open{
    color: blue;
  }
  .undertext{
    width: 300px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
  }
}